* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
  height: 2000px;
}

body {
  font-size: 1.6rem;
  font-family: "Sora";
}
/* common */
.btn {
  width: 205px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  border: 0;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  padding: 15px 46px;
}
.container {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*======== header-top ========*/
.header-sticky {
  position: sticky;
  top: -22px;
  right: 0;
  left: 0;
  background: #10375c;
  z-index: 1;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #10375c;
  padding: 30px 0 8px;
}
/*========== logo ========= */
.logo {
  display: inline-flex;
  font-size: 1rem;
  position: relative;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  border-radius: 50%;
  display: inline-block;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.5em;
  height: 1.5em;
  background: #fff;
}

.logo__text {
  margin-left: 0.6em;
  line-height: 1.7em;
}
.logo__brand {
  display: block;
  color: #fff;
  font-size: 1.8em;
  font-weight: 400;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
  text-align: right;
}

/* =========== navbar =========== */
.navbar__list {
  display: flex;
}

.navbar__link {
  position: relative;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  padding: 0 21px;
}

.navbar__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active:hover {
  text-shadow: none;
}
.navbar__link--active::before {
  position: absolute;
  top: 6px;
  left: 8px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
}
.navbar__link--active {
  color: #fff;
  font-weight: 400;
}

/* ======= action button ========= */
.header-action {
  display: flex;
  align-items: center;
}
.header-action__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.header-action__signup {
  width: 104px;
  height: 44px;
  border-radius: 22px;
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 8px 19px 8px 20px;
  margin-left: 28px;
}

/* ====== header ===== */
.header {
  background: #10375c;
}

/*============ header-body =========*/
.header-body {
  display: flex;
  align-items: center;
  height: calc(100vh - 82px);
  padding: 68px 0 110px;
}

.tittle {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.sub-tittle {
  width: 468px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin: 22px 0 38px;
}

.contact__phone-number {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  margin-left: 38px;
}
.section-2 figure {
  display: inline-flex;
  align-items: center;
  margin-left: 113px;
}

.section-2 img:first-child {
  width: 330px;
  height: 540px;
  object-position: right;
  object-fit: cover;
  border-radius: 6px;
}

.section-2 img:last-child {
  width: 210px;
  height: 410px;
  object-fit: cover;
  object-position: 80%;
  border-radius: 0 6px 6px 0;
}
